<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="../figures.php" method="get">
      <div class="cx">
        <label for="name">Entrer Centrex: </label>
        <input type="number" name="centrex" id="centrex" required="required">
      </div>
      <div class="cy">
        <label for="name">Entrer Centrey </label>
        <input type="number" name="centrey" id="centrey" required="required">
      </div>
      <div class="r">
        <label for="name">Entrer le rayon: </label>
        <input type="number" name="rayon" id="rayon" required="required">
      </div>
      <div class="f">
        <p for="name">Choisir une figure: </p>
        <!-- Version avec Radio Buttons
        <div>
          <input type="radio" name="fig" value="cercle"
         checked>
        <label>Cercle</label>
        </div>
        <div>
          <input type="radio" name="fig" value="triangle">
        <label>Triangle</label>
        </div>
        <div>
          <input type="radio" name="fig" value="carre">
        <label>Carre</label>
        </div>
        -->
        <!-- Version avec un select -->
        <select name="fig" id="pet-select">
          <option value="cercle">Cercle</option>
          <option value="triangle">Triangle</option>
          <option value="carre">Carre</option>
        </select>
      </div>
      <br>
      <div>
        <button type="submit" name="button">Send</button>
      </div>
    </form>
  </body>
</html>
