table{
	align-items: center;
}
td {
	width: 18px;
	height: 18px;
	text-align: center;
	border: 1px solid black;
}

.blanc::parent{
	background-color: white;
}
.noir::parent{
	background-color: black;
}